body {
    background-image: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200%;
    color: white;
    font-family: "Rubik", sans-serif;
} 

.botao{
box-sizing: border-box;
width: 388px;
height: 66px;
left: 20px;
top: 682px;
background: linear-gradient(180deg, #20204D 0%, #1D1D55 100%);
border-radius: 45px;
color: white;
}

.finanfy {
    background-color: blueviolet; 
 }
 
 

#aqui {
    color: aliceblue;
 }