@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.modal {
  background-color: #000040;
}

.modal-content {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  background-color: #000040;
  margin: auto;
  padding: 20px;
  text-align: center;
  align-items: center;
  max-width: 400px;
}

.close {
  color: #ffffff;
  float: inherit;
  font-size: 60px;
  font-weight: 400;
}

.close:hover,
.close:focus {
  color: #b9b2c4;
  text-decoration: none;
  cursor: pointer;
}

* {
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}

.divTitle {
  padding-top: 40px;
}

.entrada {
  background-color: #20204d;
  color: #ffffff;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  /* text-align: center; */
  width: 90%;
  /* align-items: center; */
  border-style: solid;
  border-width: 2px;
  border-color: #383467;
  border-radius: 30px;
}

.divSenhaAtual {
  padding-top: 70px;
}

.divNovaSenha {
  padding-top: 15px;
}

.divConfirmaNovaSenha {
  padding-top: 15px;
}

.entrada::-webkit-input-placeholder {
  color: #b9b2c4;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  padding-left: 20px;
  vertical-align: middle;
}

.divSendButton {
  padding: 40px;
}

select {
  appearance: none;
}
