@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  background-image: url("../../assets/bg-finanfy-1-low.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;

  color: white;
  text-align: center;
}

.divTitle {
  font-weight: 700;
  font-size: 64px;
  padding-top: 40px;
}

.divSubTitle {
  margin: auto;
  padding-top: 40px;
  padding-bottom: 60px;
  max-width: 40%;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}

.botao {
  width: 350px;
  height: 66px;
  background-color: #20204d;
  border-style: solid;
  border-radius: 45px;
  border-color: #383467;
  font-size: 18px;
  font-weight: 800;
  color: white;
}

.divRegistrar {
  padding-top: 30px;
  padding-bottom: 40px;
  color: #ffffff;
  font-size: 16px;
}

a {
  color: #ffffff;
}
