@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Rubik", sans-serif;
}
label {
  font-weight: bolder;
}
::placeholder {
  color: #dee2e6 !important;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #dee2e6 !important;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #dee2e6 !important;
}
h1 {
  padding-top: 30px;
  text-align: center;
}

#msg {
  height: 60px;
}
#grid-contatos tbody {
  cursor: pointer;
}
