body{
    font-family: "Rubik", sans-serif;  
    width: 100%;
    height: 200%;
    background-image: url("../../assets/background.jpg");
    background-repeat: "no-repeat";
    background-size: cover;    
    color: white;
    text-align: center;
    

}

.areaText {  

    width: 388px;
    height: 66px;
    left: 20px;
    background: linear-gradient(180deg, #20204D 0%, #1D1D55 100%);
    border-radius: 45px;
    box-sizing: border-box;
    font-size: large;  
    


    
}
#aqui {
    color: white;
 }

