@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

body {
  background-image: url("../../assets/bg-finanfy-1-low.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
}

.container {
  width: 100%;
  display: grid;
  justify-items: center;
  row-gap: 10px;
  padding-bottom: 20px;
}

.divPageHeader {
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.divBtnBack {
  display: flex;
  padding-left: 40px;
  width: 5%;
}

.divNone {
  padding-right: 40px;
  width: 5%;
}

.divTitle {
  display: flex;
  justify-content: center;
  width: 90%;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}

.btnSubmit {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
  background-color: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
}

.areaText {
  width: 350px;
  height: 66px;
  background-color: #20204d;
  border-style: solid;
  border-radius: 45px;
  border-color: #383467;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}
