body {

    background-image: url(../../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Rubik" ,sans-serif;    
    color: white;
    line-height: 21px;
    
     }

.texto {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;


}     

.margens {
    width: 320px;
   
   }

.botao{
    width: 388px;
    height: 66px;
    left: 20px;
    top: 682px;
    background: linear-gradient(180deg, #20204D 0%, #1D1D55 100%);
    border-radius: 45px;
    color: white;
    box-sizing: border-box;
    font-size: large;    
}

#aqui {
    color: white;
}



