html, body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    top: 0;
    left: 0;
  }
  .divPage {
    padding: 16px;
    display: flex;
    height: max-content;
    min-height: 100%;
    min-width: 600px;
    width: 41%;
    background-image: none;
    background-color: #000040;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
  }
  
  .divPage,
  .divPage * {
    background-image: none;
  }

  .profileHeader {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: auto;
    justify-content: center;
    align-items: center;
    
    
  }
  .divIconBack {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 240px;
    height: 50px
  }
  .iconBtnBack {
    display: flex;
    width: 30px;
    height: 30px;
  }
  #mainTitle {
    display: flex;
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
  }
  .divIconProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000040;
    border: 4px solid #fff;
  }
  .iconProfilePhoto {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;
    background-color: lightgray;
  }
  .profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 240px;
  }
  .pInfo {
    display: flex;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    height: 19px;
    opacity: 0.9;
    margin-bottom: 0px;
  }
  .spanInfo {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
  }
  .profileButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
  }
  .buttonKey {
    display: flex;
    justify-content: center;
    background-color: #20204D;
    border-radius: 30px;
    border: 2px solid #383467;
    width: 240px;
    height: 46px;
    cursor: pointer;
  }
  .buttonLogOut {
    display: flex;
    justify-content: center;
    background-color: #982626;
    border-radius: 30px;
    border: 2px solid #383467;
    width: 240px;
    height: 46px;
    cursor: pointer;
  }
  #alterardados {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color:#fff;
    align-items: center;
  }
  #logOutAccount {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color:#fff;
    align-items: center;
  }

  @media (min-width: 350px) {
    .profileHeader{
      width: 300px;
    }
    .divIconBack{
      width: 300px;
    }
    .divIconProfile {
      width: 130px;
      height: 130px;
    }
    .profileInfo {
      width: 300px;
    }
    .iconProfilePhoto {
      width: 130px;
      height: 130px;
    }
    .profileButtons {
      width: 300px;
    }
    .spanInfo {
      font-size: 25px;
    }
  }

  @media (min-width: 450px) {
    .profileHeader{
      width: 350px;
    }
    .divIconBack{
      width: 350px;
    }
    .divIconProfile {
      width: 150px;
      height: 150px;
    }
    .profileInfo {
      width: 350px;
    }
    .iconProfilePhoto {
      width: 150px;
      height: 150px;
    }
    .profileButtons {
      width: 350px;
    }
    .spanInfo {
      font-size: 30px;
    }
  }

  @media (max-width: 600px) {
    .divPage {
      min-width: 0px;
      width: 100%;
    }
  }

  @media (min-width: 600px) {
    .profileHeader{
      width: 500px;
    }
    .divIconBack{
      width: 500px;
    }
    .divIconProfile {
      width: 200px;
      height: 200px;
    }
    .profileInfo {
      width: 500px;
    }
    .iconProfilePhoto {
      width: 200px;
      height: 200px;
    }
    .profileButtons {
      width: 500px;
    }
    .spanInfo {
      font-size: 35px;
    }
  }

  @media (min-width: 700px) {
    .profileHeader{
      width: 600px;
    }
    .divIconBack{
      width: 600px;
    }
    .divIconProfile {
      width: 250px;
      height: 250px;
    }
    .profileInfo {
      width: 600px;
    }
    .iconProfilePhoto {
      width: 250px;
      height: 250px;
    }
    .profileButtons {
      width: 600px;
    }
    .spanInfo {
      font-size: 40px;
    }
  }

  @media (min-width: 800px) {
    .profileHeader{
      width: 600px;
    }
    .divIconBack{
      width: 600px;
    }
    .divIconProfile {
      width: 300px;
      height: 300px;
    }
    .profileInfo {
      width: 600px;
    }
    .iconProfilePhoto {
      width: 300px;
      height: 300px;
    }
    .profileButtons {
      width: 600px;
    }
    .spanInfo {
      font-size: 45px;
    }
  }

  @media (min-width: 900px) {
    .profileHeader{
      width: 600px;
    }
    .divIconBack{
      width: 600px;
    }
    .divIconProfile {
      width: 350px;
      height: 350px;
    }
    .profileInfo {
      width: 600px;
    }
    .iconProfilePhoto {
      width: 350px;
      height: 350px;
    }
    .profileButtons {
      width: 600px;
    }
    .spanInfo {
      font-size: 50px;
    }
  }

  @media (min-width: 1000px) {
    .profileHeader{
      width: 600px;
    }
    .divIconBack{
      width: 600px;
    }
    .divIconProfile {
      width: 300px;
      height: 300px;
    }
    .profileInfo {
      width: 600px;
    }
    .iconProfilePhoto {
      width: 300px;
      height: 300px;
    }
    .profileButtons {
      width: 600px;
    }
    .spanInfo {
      font-size: 30px;
    }
    .pInfo {
      font-size: 20px;
    }
  }
  